<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">RaceList</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" class="waves-effect waves-light btn-small">Sign in with Google</a></li>
      </ul>
    </div>
  </nav>