<div>
  <h4>My Races</h4>
  <div class="fixed-action-btn">
    <%= link to: race_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red"  do %>
      <i class="material-icons">add race</i>
    <% end %>
  </div>
</div>