<div class="container">
  <div class="row">
    <h4>Welcome to RaceList!</h4>
  </div>
  <%= if @conn.assigns[:user] do %>
    <div class="fixed-action-btn">
      <%= link to: race_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red"  do %>
        <i class="material-icons">add race</i>
      <% end %>
    </div>
  <% end %>
</div>
